fastapi
uvicorn[standard]
pydantic-settings

langchain
langchain-community
langchain-huggingface
langchain-core
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
faiss-cpu
scikit-learn

transformers
torch
sentence-transformers
bitsandbytes
accelerate

httpx